.formWrap {
    max-width: 486px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    font-family: 'Museo Sans Cyrl';
}

.title {
    font-size: 20px;
    text-align: left;
    color: #a1b0bb;
    padding: 21px;
    border-bottom: 2px solid #41c7dc;
    background: #192433;
    font-weight: 500;
}

.backgroundSection {
    background: #192433;
    padding: 24px;
}

.backgroundSection :last-child {
    margin-bottom: 0;
}

.inputWrap {
    position: relative;
    margin-bottom: 47px;
}

.input {
    display: inline-block;
    width: calc(100% - 30px);
    line-height: 16px;
    border: 1px solid #41c7dc;
    font-size: 12px;
    padding: 15px;
    background: #263852;
    color: #a1b0bb;
}

.inputError {
    border: 1px solid #d35d47;
}

.inputValid {
    border: 1px solid #cedb56;
}

.inputIcon {
    position: absolute;
    top: 13px;
    right: 13px;
    font-size: 24px;
}

.input:focus {
    outline: none;
}

.submit:focus {
    outline: none;
}

.submit {
    display: inline-block;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    padding: 23px 20px;
    background: #255465;
    border: none;
    color: #668793;
    cursor: pointer;
    font-family: 'Museo Sans Cyrl';
}

.selectWrap {
    margin-bottom: 47px;
    color: #a1b0bb;
}

.select {
    border: 1px solid #41c7dc;
}

.selectError {
    border: 1px solid #d35d47;
}

.selectValid {
    border: 1px solid #cedb56;
}

.checkBox {
    display: none;
}

.checkBoxIcon {
    margin-right: 10px;
    font-size: 24px;
}

.checkBoxWrap {
    padding: 21px 25px;
    display: flex;
    align-items: center;
}

.checkBoxItem {
    cursor: pointer;
}

.checkBoxLabel {
    color: #a1b0bb;
    font-size: 12px;
    text-decoration: underline;
    font-weight: 300;
    cursor: pointer;
}

.systemError {
    padding: 24px 24px 0;
    background: #192433;
    font-size: 16px;
    font-weight: 200;
    color: #41c7dc;
}

.systemError img {
    margin-bottom: 22px;
}
