.dayPanel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 80px;
}

.dayName {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(161, 176, 187);
    font-size: 18px;
}

.dayButton {
    margin: 10px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    border: 1.5px solid rgb(65, 199, 220);
    color: rgb(65, 199, 220);
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
}

.dayButton:not(.dayButtonDisabled):hover {
    background-color: rgb(65, 199, 220);
    color: white;
}

.dayButtonSelected {
    background-color: rgb(65, 199, 220);
    color: white;
}

.dayButtonDisabled {
    border: 1.5px solid rgb(48, 113, 137);
    color: rgb(48, 113, 137);
    cursor: not-allowed;
}
