/CodingDojo/**/*.log
/CodingDojo/saves/*.game
/CodingDojo/**/.idea
/CodingDojo/**/*.db
/CodingDojo/**/target
/CodingDojo/**/*.iml
/CodingDojo/games/.gitignore
/CodingDojo/games/.gitignore_
/CodingDojo/games/.git
/CodingDojo/games/.git_