
/CodingDojo/.idea
/CodingDojo/.settings
/CodingDojo/.project
/CodingDojo/.classpath
/CodingDojo/target
/CodingDojo/*.iml
/CodingDojo/snake-servers/java/.idea
/CodingDojo/snake-servers/java/target
/CodingDojo/snake-servers/java/*.iml
/CodingDojo/snake.log

/CodingDojo/bomberman-servers/*/target
/CodingDojo/bomberman-servers/*/.project
/CodingDojo/bomberman-servers/*/.settings
/CodingDojo/bomberman-servers/*/.classpath
/CodingDojo/bomberman-servers/*/.idea
/CodingDojo/bomberman-servers/*/*.iml
/CodingDojo/bomberman-servers/*/*/*/*.iml
/CodingDojo/bomberman-servers/javascript/node.js/node_modules
/CodingDojo/minesweeper-servers/java/minesweeper.iml
/CodingDojo/minesweeper-servers/java/target
/CodingDojo/battlecity-servers/java/target
