[submodule "CodingDojo/portable/linux-docker-compose"]
	path = CodingDojo/portable/linux-docker-compose
	url = https://github.com/codenjoyme/codenjoy-portable-linux.git
[submodule "CodingDojo/portable/linux-docker"]
	path = CodingDojo/portable/linux-docker
	url = https://github.com/codenjoyme/codenjoy-portable-linux-lite.git
[submodule "CodingDojo/portable/windows-cmd"]
	path = CodingDojo/portable/windows-cmd
	url = https://github.com/codenjoyme/codenjoy-portable-windows.git
[submodule "CodingDojo/games/excitebike"]
	path = CodingDojo/games/excitebike
	url = https://github.com/codenjoyme/codenjoy-excitebike.git
[submodule "CodingDojo/games/selfdefense"]
	path = CodingDojo/games/selfdefense
	url = https://github.com/codenjoyme/codenjoy-selfdefense
[submodule "CodingDojo/games/japanese"]
	path = CodingDojo/games/japanese
	url = https://github.com/codenjoyme/codenjoy-japanese.git
[submodule "CodingDojo/client-runner"]
	path = CodingDojo/client-runner
	url = https://github.com/codenjoyme/codenjoy-client-runner.git
[submodule "CodingDojo/games/vacuum"]
	path = CodingDojo/games/vacuum
	url = https://github.com/codenjoyme/codenjoy-vacuum.git
[submodule "CodingDojo/games/xonix"]
	path = CodingDojo/games/xonix
	url = https://github.com/codenjoyme/codenjoy-xonix.git
