
/CodingDojo/.idea
/CodingDojo/target
/CodingDojo/*.iml
/CodingDojo/snake-servers/java/.idea
/CodingDojo/snake-servers/java/target
/CodingDojo/snake-servers/java/*.iml
/CodingDojo/snake.log
/Bomberman/target
/Bomberman/.idea
/Bomberman/*.iml