[submodule "CodingDojo/portable/linux-docker-compose"]
	path = CodingDojo/portable/linux-docker-compose
	url = https://github.com/codenjoyme/codenjoy-portable-linux.git
[submodule "CodingDojo/portable/linux-docker"]
	path = CodingDojo/portable/linux-docker
	url = https://github.com/codenjoyme/codenjoy-portable-linux-lite.git
[submodule "CodingDojo/portable/windows-cmd"]
	path = CodingDojo/portable/windows-cmd
	url = https://github.com/codenjoyme/codenjoy-portable-windows.git
[submodule "CodingDojo/games/excitebike"]
	path = CodingDojo/games/excitebike
	url = https://github.com/codenjoyme/codenjoy-excitebike.git
[submodule "CodingDojo/games/selfdefense"]
	path = CodingDojo/games/selfdefense
	url = https://github.com/codenjoyme/codenjoy-selfdefense.git
[submodule "CodingDojo/games/japanese"]
	path = CodingDojo/games/japanese
	url = https://github.com/codenjoyme/codenjoy-japanese.git
[submodule "CodingDojo/client-runner"]
	path = CodingDojo/client-runner
	url = https://github.com/codenjoyme/codenjoy-client-runner.git
[submodule "CodingDojo/games/vacuum"]
	path = CodingDojo/games/vacuum
	url = https://github.com/codenjoyme/codenjoy-vacuum.git
[submodule "CodingDojo/games/xonix"]
	path = CodingDojo/games/xonix
	url = https://github.com/codenjoyme/codenjoy-xonix.git
[submodule "CodingDojo/games/chess"]
	path = CodingDojo/games/chess
	url = https://github.com/codenjoyme/codenjoy-chess.git
[submodule "CodingDojo/games/engine"]
	path = CodingDojo/games/engine
	url = https://github.com/codenjoyme/codenjoy-engine.git
[submodule "CodingDojo/clients/java"]
	path = CodingDojo/clients/java
	url = https://github.com/codenjoyme/codenjoy-java-client.git	
[submodule "CodingDojo/clients/java-script"]
	path = CodingDojo/clients/java-script
	url = https://github.com/codenjoyme/codenjoy-javascript-client.git
[submodule "CodingDojo/clients/pseudo"]
	path = CodingDojo/clients/pseudo
	url = https://github.com/codenjoyme/codenjoy-pseudo-client.git
[submodule "CodingDojo/clients/ruby"]
	path = CodingDojo/clients/ruby
	url = https://github.com/codenjoyme/codenjoy-ruby-client.git
[submodule "CodingDojo/clients/go"]
	path = CodingDojo/clients/go
	url = https://github.com/codenjoyme/codenjoy-go-client.git
[submodule "CodingDojo/games/mollymage"]
	path = CodingDojo/games/mollymage
	url = https://github.com/codenjoyme/codenjoy-mollymage.git
[submodule "CodingDojo/clients/php"]
	path = CodingDojo/clients/php
	url = https://github.com/codenjoyme/codenjoy-php-client.git
[submodule "CodingDojo/clients/python"]
	path = CodingDojo/clients/python
	url = https://github.com/codenjoyme/codenjoy-python-client.git
[submodule "CodingDojo/clients/cpp"]
	path = CodingDojo/clients/cpp
	url = https://github.com/codenjoyme/codenjoy-cpp-client.git
[submodule "CodingDojo/clients/scala"]
	path = CodingDojo/clients/scala
	url = https://github.com/codenjoyme/codenjoy-scala-client.git
[submodule "CodingDojo/games/clifford"]
	path = CodingDojo/games/clifford
	url = https://github.com/codenjoyme/codenjoy-clifford.git
[submodule "CodingDojo/clients/kotlin"]
	path = CodingDojo/clients/kotlin
	url = https://github.com/codenjoyme/codenjoy-kotlin-client.git
[submodule "CodingDojo/clients/csharp"]
	path = CodingDojo/clients/csharp
	url = https://github.com/codenjoyme/codenjoy-csharp-client.git
[submodule "CodingDojo/games/verland"]
	path = CodingDojo/games/verland
	url = https://github.com/codenjoyme/codenjoy-verland.git
[submodule "CodingDojo/games/icancode"]
	path = CodingDojo/games/icancode
	url = https://github.com/codenjoyme/codenjoy-icancode.git
[submodule "CodingDojo/games/kata"]
	path = CodingDojo/games/kata
	url = https://github.com/codenjoyme/codenjoy-kata.git
[submodule "CodingDojo/games/lemonade"]
	path = CodingDojo/games/lemonade
	url = https://github.com/codenjoyme/codenjoy-lemonade.git
[submodule "CodingDojo/games/lunolet"]
	path = CodingDojo/games/lunolet
	url = https://github.com/codenjoyme/codenjoy-lunolet.git
[submodule "CodingDojo/games/reversi"]
	path = CodingDojo/games/reversi
	url = https://github.com/codenjoyme/codenjoy-reversi.git
