.mask {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 380px;
    font-size: 58px;
    line-height: 1.07;
    color: #ffffff;
    text-align: center;
    background: rgb( 45, 45, 45 , 0.3);
    background-position: 0px -160px;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
}

b {
    font-weight: 400;
}

.highligteUnderNotes,
.highligte {
    font-size: 16px;
    line-height: 1.88;
    color: var(--primary-color);
    background-color: var(--block-bg-color);
    padding: 17px 32px;
    margin-bottom: 40px;
}

.highligteNotes {
    font-size: 16px;
    line-height: 1.63;
    color: var(--primary-color);
    margin-bottom: 40px;
    padding: 0 30px;
}

.highligteUnderNotes {
    margin-bottom: 16px;
}

.mb15 {
    margin-bottom: 15px;
}

.mb30 {
    margin-bottom: 30px;
}

.boardExample {
    font-family: monospace;
    letter-spacing: 0px;
    white-space: pre-wrap;
    line-height: 11px;
}

.copyConnection {
    cursor: pointer;
}

ul {
    list-style-type: disc;
    margin-left: 40px;
}
