.footer {
    display: flex;
    justify-content: space-between;
    background: var(--block-bg-color);
    padding: 0 24px;
    flex-wrap: wrap;
}

.navigation {
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navigationModify {
    justify-content: flex-end;
}

.navigationIcon {
    margin-left: 18px;
    font-size: 28px;
}

.navigation a,
.navigation .share {
    text-decoration: none;
    padding: 40px 8px;
    font-family: 'Museo Sans Cyrl';
    font-weight: 300;
    font-size: 16px;
    color: var(--title-bg-color);
    display: flex;
    align-items: center;
}

.facebookShare {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.navigation .action {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
    cursor: pointer;
}

.navigation a:hover {
    background: darken(deepskyblue, 2%);
}

.copyButton {
    background: rgb(68, 101, 148);
    color: white;
    border-radius: 4px;
    border-color: rgb(57, 84, 120);
}

@media all and (max-width: 1025px) {
    .navigation a {
        font-size: 14px;
    }
}

@media all and (max-width: 820px) {
    .footer ul {
        flex-direction: column;
    }
    .footer {
        flex-direction: column;
        padding: 20px 24px;
    }
    .navigation a,
    .navigation .share {
        padding: 10px 8px;
    }
}
