.score-info {
    color:red;
    font-size:50px;
    display:none;
}

.width-calculator{
    position: absolute;
    visibility: hidden;
    height: auto;
    width: auto;
    white-space:nowrap;
}

#table-logs th.center, #table-logs td.center  {
    text-align : center;
}

#table-logs {
    font-size:25px;
}

label.error {
    color:red;
    position:absolute;
    border: 1px solid gray;
    background-color: white;
    border-radius: 3px 3px 3px 3px;
}

#selectedLevels {
    width:300px;
}

.admin-table {
    background-color: papayawhip;
    margin:10px;
}
