<?xml version="1.0" encoding="UTF-8"?>
<!--
  #%L
  Codenjoy - it's a dojo-like platform from developers to developers.
  %%
  Copyright (C) 2018 Codenjoy
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public
  License along with this program.  If not, see
  <http://www.gnu.org/licenses/gpl-3.0.html>.
  #L%
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">

    <bean id="connectionThreadPollFactory"
          class="com.codenjoy.dojo.services.jdbc.PostgreSQLConnectionThreadPoolFactory">
        <constructor-arg value="${database.url}/${database.name}?user=${database.user}&amp;password=${database.password}"/>
    </bean>

    <bean id="actionLogger" class="com.codenjoy.dojo.services.dao.ActionLogger">
        <constructor-arg ref="connectionThreadPollFactory"/>
    </bean>

    <bean id="playerGameSaver" class="com.codenjoy.dojo.services.dao.PlayerGameSaver">
        <constructor-arg ref="connectionThreadPollFactory"/>
    </bean>

    <bean id="registration" class="com.codenjoy.dojo.services.dao.Registration">
        <constructor-arg ref="connectionThreadPollFactory"/>
    </bean>

    <bean id="payment" class="com.codenjoy.dojo.services.dao.Payment">
        <constructor-arg ref="connectionThreadPollFactory"/>
    </bean>

    <bean id="gameData" class="com.codenjoy.dojo.services.dao.GameData">
        <constructor-arg ref="connectionThreadPollFactory"/>
    </bean>

</beans>
