<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

    <context:annotation-config/>
    <context:component-scan base-package="com.codenjoy.dojo.services"/>
    <context:component-scan base-package="com.codenjoy.dojo.transport"/>

    <bean id="actionLogger" class="com.codenjoy.dojo.services.dao.ActionLogger">
        <constructor-arg value="database/logs.db"/>
        <constructor-arg value="20"/>
    </bean>

    <bean id="playerGameSaver" class="com.codenjoy.dojo.services.dao.PlayerGameSaver">
        <constructor-arg value="database/saves.db"/>
    </bean>

    <bean id="registration" class="com.codenjoy.dojo.services.dao.Registration">
        <constructor-arg value="database/users.db"/>
    </bean>

    <bean id="payment" class="com.codenjoy.dojo.services.dao.Payment">
        <constructor-arg value="database/payment.db"/>
    </bean>

    <bean id="timerService" class="com.codenjoy.dojo.services.TimerService" init-method="init">
        <property name="period" value="1000"/>
    </bean>

    <bean name="screenControllerServlet" class="com.codenjoy.dojo.transport.screen.ScreenController"/>

    <bean name="playerControllerFactory" class="com.codenjoy.dojo.services.PlayerControllerFactoryImpl"/>

    <bean name="wsPlayerController" class="com.codenjoy.dojo.services.WsPlayerController" >
        <property name="transport" ref="wsPlayerTransport"/>
    </bean>

    <context:property-placeholder location="classpath:/com/codenjoy/dojo/server/http.properties"/>

    <bean name="restSenderExecutorService" class="java.util.concurrent.ScheduledThreadPoolExecutor">
        <constructor-arg index="0" value="10" type="int"/>
    </bean>

    <bean id="authenticationService" class="com.codenjoy.dojo.transport.ws.DefaultAuthenticationService"/>

</beans>