<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

    <bean id="timerService" class="com.codenjoy.dojo.services.TimerService" init-method="init">
        <property name="period" value="500"/>
    </bean>
    <bean name="screenControllerServlet" class="com.codenjoy.dojo.web.controller.ScreenController"/>
    <bean name="playerController" class="com.codenjoy.dojo.services.PlayerController" init-method="init">
        <property name="timeout" value="450"/>
    </bean>

    <bean name="restSenderExecutorService" class="java.util.concurrent.ScheduledThreadPoolExecutor">
        <constructor-arg index="0" value="10" type="int"/>
    </bean>

    <context:annotation-config/>
    <context:component-scan base-package="com.codenjoy.dojo.services"/>
</beans>