.homeTitle {
    padding: 45px 0 55px;
    width: 100%;
    background-color: var(--title-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    color: white;
    font-family: 'Museo Sans Cyrl';
}

.homeTitle .mainText {
    font-size: 58px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 30px;
}

.homeTitle .subText {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 30px;
}

.acceptButton {
    font-family: 'Museo Sans Cyrl';
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    background-color: var(--primary-color);
    border: none;
    color: white;
    padding: 20px 58px;
    text-decoration: none;
}

.guideContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
    align-content: stretch;
    margin-bottom: 40px;
}

.guideStep {
    min-width: 250px;
    max-width: 298px;
    background-color: var(--block-bg-color);
    padding: 16px;
    width: 33%;
}

.stepWinHeader,
.stepBattleHeader,
.stepCreateHeader {
    min-height: 102px;
    max-height: 124px;
}

.stepWinHeader {
    background-image: url(./../../styles/images/layout/presents.png);
    background-size: cover;
}

.stepBattleHeader {
    background-image: url(./../../styles/images/layout/battle.png);
    background-size: cover;
}

.stepCreateHeader {
    background-image: url(./../../styles/images/layout/create.png);
    background-size: cover;
}

.stepTitle {
    font-family: 'Museo Sans Cyrl';
    font-size: 48px;
    font-weight: 900;
    line-height: 0.71;
    color: #ffffff;
    margin: 24px 0;
}

.stepDescription {
    font-family: 'Museo Sans Cyrl';
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: normal;
    color: var(--title-bg-color);
    font-weight: 200;
}

.prizeImage {
    margin: 10px;
}

.prizeList {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

@media all and (max-width: 1030px) {
    .guideContainer {
        justify-content: space-around;
    }
    .guideStep {
        margin-bottom: 10px;
    }
}

@media all and (max-width: 820px) {
    .guideContainer {
        flex-direction: column;
        align-items: center;
    }
    .guideStep {
        max-width: 330px;
        width: 50%;
    }
    .stepWinHeader,
    .stepBattleHeader,
    .stepCreateHeader {
        min-height: 102px;
        max-height: 135px;
    }
}
