.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    font-family: 'Museo Sans Cyrl';
}

.homeTitle {
    padding: 45px 0;
    min-width: 100%;
    background-color: #a1b0bb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    color: white;
    font-family: 'Museo Sans Cyrl';
}

.homeTitle .mainText {
    font-size: 52px;
    margin: 10px;
    font-weight: 600;
    text-align: center;
}

.homeTitle .subText {
    font-size: 28px;
    margin: 10px;
    font-weight: 500;
    text-align: center;
}

.acceptButton {
    font-family: 'Museo Sans Cyrl';
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    background-color: #41c7dc;
    border: none;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
}

.content {
    display: flex;
    flex-direction: column;
    max-width: 1030px;
    padding: 45px 100px;
    box-sizing: border-box;
    min-width: 100%;
}

.content a {
    font-size: 20px;
    line-height: 1.3;
    color: #41c7dc;
}

.content p {
    color: #a1b0bb;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
    font-weight: 200;
}

.title {
    margin-bottom: 33px;
    font-size: 30px;
    font-weight: 600;
    line-height: 2.13;
    color: #ffffff;
    text-transform: uppercase;
}

.subTitle {
    font-size: 20px;
    line-height: 1.5;
    color: #ffffff;
    margin-bottom: 24px;
}

.guideContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.guideStep {
    flex: 1;
    margin: 15px;
    min-width: 250px;
    max-width: 330px;
    background-color: #192433;
    height: 447px;
    padding: 16px;
}

.stepHeader {
    height: 133px;
}

.stepTitle {
    text-align: center;
    font-family: 'Museo Sans Cyrl';
    font-size: 48px;
    font-weight: 900;
    line-height: 0.71;
    color: #ffffff;
    margin: 24px 0;
}

.stepDescription {
    text-align: center;
    font-family: 'Museo Sans Cyrl';
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: normal;
    color: #a1b0bb;
}

.prizeImage {
    margin: 10px;
}

.prizeList {
    display: flex;
    align-items: center;
    justify-content: center;
}
