#cardSlots, #cardPile {
  padding: 20px;
  border: 1px solid #333;
  border-radius: 10px;
}

#cardSlots {
  width: 450px;
  height: 450px;
}

#cardPile {
  width: 450px;
  height: 450px;
}

#cardSlots div, #cardPile div {
  float: left;
  position: relative;
  width: 40px;
  height: 40px;
  border: 1px solid #333;
  border-radius: 10px;
  background: #ccc;
  vertical-align: middle;
}

#cardPile>div>div {
  color: #fff;
  font-size: 34px;
  text-shadow: 0 0 1px #000;
  z-index: 100;
  text-align: center;
}

.type-1 { background: red!important; }
.type-2 { background: brown!important; }
.type-3 { background: orange!important; }
.type-4 { background: yellow!important; }
.type-5 { background: green!important; }
.type-6 { background: cyan!important; }
.type-7 { background: blue!important; }
.type-8 { background: indigo!important; }
.type-9 { background: purple!important; }
.type-10 { background: violet!important; }



