<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
     ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>tetris.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>tests.%i.log.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>3</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <turboFilter class="ch.qos.logback.classic.turbo.DuplicateMessageFilter"/>

    <logger name="net.tetris" level="DEBUG">
        <appender-ref ref="FILE" additivity="false"/>
    </logger>

    <logger name="org" level="INFO">
        <appender-ref ref="FILE" additivity="false"/>
    </logger>

    <logger name="com" level="INFO">
        <appender-ref ref="FILE" additivity="false"/>
    </logger>

<!--
    <logger name="ROOT" level="INFO">
        <appender-ref ref="FILE" additivity="false"/>
        &lt;!&ndash;<appender-ref ref="STDOUT" additivity="false"/>&ndash;&gt;
    </logger>
-->
</configuration>