
@font-face {font-family: "Source Sans Pro";
  src: url(../fonts/Source Sans Pro/Source Sans Pro.eot); /* IE9*/
  src: url(../fonts/Source Sans Pro/Source Sans Pro.eot?#iefix) format("embedded-opentype"), /* IE6-IE8 */
  url(../fonts/Source Sans Pro/Source Sans Pro.woff) format("woff"), /* chrome、firefox */
  url(../fonts/Source Sans Pro/Source Sans Pro.ttf) format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url(../fonts/Source Sans Pro/Source Sans Pro.svg#Source Sans Pro) format("svg"); /* iOS 4.1- */
}

@font-face {font-family: "Oswald";
  src: url(../fonts/Oswald/Oswald-Regular.ttf) format("truetype"); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

@font-face {font-family: "Source Sans Pro Light";
  src: url(../fonts/SourceSansPro-ExtraLight.ttf) format("truetype");
}

@font-face {font-family: "Oswald Light";
  src: url(../fonts/Oswald-Light.ttf) format("truetype");
}

.wrapper { min-width: 460px; }

ul {margin: 0;}

.inline { display: inline-block; }

.header { height: 100px; color: #464547; }
.header a { color: #464547; }


.nav-item { line-height: 100px; }

.logo-epam { margin-right: 50px; }
.logo-title { margin-left: 15px; }
.logo-engx:hover { text-decoration: none; }
.logo-title { 
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
}

.nav-item { 
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  margin-left: 30px;
}

.nav-item:hover { cursor: pointer; }
.nav-item:first-child { margin-left: 0; }


.promo-title { 
  font-family: "Oswald", sans-serif;
  font-size: 30px; 
  line-height: 48px;
  color: #fff; 
}

.promo-img { max-width: 675px; width: 100%; height: auto;}
.section { padding: 70px 0; position: relative; }

.section::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -100px;
  bottom: -30px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 100px 0 100px;
  z-index: 2;
}

.promo { background-color: #ecc134; padding: 50px 0;}

.promo::after {
  border-color: #ecc134 transparent transparent transparent;
}

.title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  color: #1a9cb0;
  margin-bottom: 50px;
}

.description::after {
  border-color: #fff transparent transparent transparent;
}

.section p { 
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  line-height: 30px;
  color: #3c3c3f;
}

.action-link {
  display: inline-block;
  height: 50px;
  width: 100%;
  margin-top: 50px;
  line-height: 50px;
  background-color: #a3c644;
  color: #fff;
  font-size: 18px;
  transition: background .5s;
}

.action-link:hover {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  background-color: #8cad35;
}

.action-link i { margin-left: 15px; font-size: 24px; }

.galery { margin-top: 80px; }
.galery-img { width: 100%; height: auto; }

.important-text { 
  color: #1a9cb0;
  font-weight: bold;
}

.about { background-color: #efefef; }
.about::after { border-color: #efefef transparent transparent transparent; }

.rules::after {display: none; }

.subtitle { margin-top: 0; font-family: "Oswald", sans-serif; color: #3c3c3f; font-size: 20px; margin-bottom: 20px;}

.icon {
  background: url('../img/sprite.png') no-repeat;
  width: 101px;
  height: 101px;
}

.game-elements { background-position: -15px -4px; }

.rules-list {
  margin-top: 60px;
}

.rule { margin-bottom: 50px; }
.rule:last-child { margin-bottom: 0px; }
.single { background-position: -134px -4px; }
.multi { background-position: -252px -4px; }

.scroll-up {
  width: 50px;
  height: 40px;
  background-color: #464547;
  position: fixed; 
  opacity: 0.5;
  color: #fff;
  border-radius: 5px 5px 0 0; 
  left: 20px;
  bottom: 0;
  text-align: center;
  font-size: 30px;
  line-height: 40px;
  display: none; 
  cursor: pointer;
}

.footer { background-color: #d3d3d3; height: 50px; padding: 10px 0;}
.footer-nav { height: 30px; line-height: 30px; text-align: center; }

.footer-item a { color: #fff; font-size: 16px; font-family: "Source Sans Pro Light", sans-serif;  }
.footer-item { margin-right: 15px; padding-right: 15px; border-right: 1px solid #fff;  }
.footer-item:last-child { border: none; }




@media screen and (max-width: 992px) {
  .icon { display: inline-block; margin-bottom: 30px;}
  .rule { text-align: center; }
  .subtitle, .rule p { text-align: center; }
  .header, .nav-list { text-align: center; }
  .header { height: 50px; }
  .nav-list { border-top: 1px solid #e8e8e8; text-align: center; width: 100%;}
}

@media screen and (max-width: 600px) {
  .footer-item { width: 100%; padding: 0; margin: 0; border-right: none; }
  .footer { height: 120px; }
}

@media screen and (max-width: 440px) {
  .logo-epam { width: 100%; }
}

