
@font-face {font-family: "Source Sans Pro";
  src: url(../fonts/Source Sans Pro/Source Sans Pro.eot); /* IE9*/
  src: url(../fonts/Source Sans Pro/Source Sans Pro.eot?#iefix) format("embedded-opentype"), /* IE6-IE8 */
  url(../fonts/Source Sans Pro/Source Sans Pro.woff) format("woff"), /* chrome、firefox */
  url(../fonts/Source Sans Pro/Source Sans Pro.ttf) format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url(../fonts/Source Sans Pro/Source Sans Pro.svg#Source Sans Pro) format("svg"); /* iOS 4.1- */
}

@font-face {font-family: "Oswald";
  src: url(../fonts/Oswald/Oswald-Regular.ttf) format("truetype"); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

@font-face {font-family: "Source Sans Pro Light";
  src: url(../fonts/SourceSansPro-ExtraLight.ttf) format("truetype");
}

body { background-color: #464547;
}
ul { margin-bottom: 0px; }

.header { color: #fff; }
.header-container {
  background-color: #666;
  border-bottom: 10px solid #ecc134;
}

.container-fluid { max-width: 1300px; }
.header .container { height: 100px; }
.inline { display: inline-block; }
.logo {height: 100px;}
.logo img { vertical-align: middle; }

.logo::before {
  content: "";
  vertical-align: middle;
  display: inline-block;
  height: 100px;
}

.title {
  margin-left: 20px;
  text-transform: uppercase;
  vertical-align: middle;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 28px;
  font-weight: 300;
}

.nav-item {
  font-family: "Oswald", sans-serif;
  line-height: 100px;
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
  margin-left: 15px;
}

.nav-item a { color: #fff; }

.nav-item:hover { text-decoration: underline; }

.form-registr {
  width: 90%;
  max-width: 485px;
  background-color: #3c3b3d;
  margin: 30px auto 0;
  box-sizing: border-box;
  border: 1px solid #353535;
}

.form-registr input {
  width: 100%;
  margin-bottom: 25px;
  height: 50px;
  background-color: #323132;
  border: 1px solid #323132;
  padding: 0 15px;
  color: #fff;
  font-family: "Oswald", sans-serif;
}

.form-registr .not-valid input {
  border-color: #eb6a5a;
}

.field { position: relative; }

.not-valid .icon { color:#eb6a5a; }
.not-valid .icon::before { content: "\f057"; }
.valid .icon { color: #a3c644;  }
.valid .icon::before { content: "\f058"; }
.icon {
  position: absolute; top:0; right: 15px; line-height: 50px; font-size: 25px;
}

.form-title {
  margin: 0;
  font-size: 24px;
  color: #fff;
  font-family: "Source Sans Pro Light", sans-serif;
  font-weight: 400;
  line-height: 60px;
  border-bottom: 1px solid #5c5b5d;
  padding: 0 35px;
}

.inputs { padding: 35px 25px 50px;}

.btn-submit {
  margin-top: 10px;
  height: 50px;
  width: 100%;
  background-color: #a3c644;
  border: none;
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
}

.btn-submit:hover { background-color: #99ba40; }


.footer {
   height: 50px;
   background-color: #323132;
   margin-top: 30px;
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;}

.footer-item a { color: #fff; opacity: .5; font-size: 18px; font-family: "Source Sans Pro Light", sans-serif;  }
.footer-item { margin-right: 15px; padding-right: 15px; border-right: 1px solid #5c5b5d;  }
.footer-item:last-child { border: none; }

.footer-nav { height: 50px; display: table;}

.footer-list { display: table-cell; vertical-align: middle; }

@media screen and (max-width: 1200px) {
  .game { position: relative; width: 100%; padding: 0 15px 0 845px; position: relative;}
  .game img { position: absolute; left: 0; top: 0;}
  .main { padding-left: 15px; }
  .console { display: inline-block; width: 100%; height: 800px; margin-top: 0;}
  .editor-block { height: 310px; }
  .editor { height: 250px; }
}
