
@font-face {font-family: "Source Sans Pro";
  src: url(../fonts/Source Sans Pro/Source Sans Pro.eot); /* IE9*/
  src: url(../fonts/Source Sans Pro/Source Sans Pro.eot?#iefix) format("embedded-opentype"), /* IE6-IE8 */
  url(../fonts/Source Sans Pro/Source Sans Pro.woff) format("woff"), /* chrome、firefox */
  url(../fonts/Source Sans Pro/Source Sans Pro.ttf) format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url(../fonts/Source Sans Pro/Source Sans Pro.svg#Source Sans Pro) format("svg"); /* iOS 4.1- */
}

@font-face {font-family: "Oswald";
  src: url(../fonts/Oswald/Oswald.eot); /* IE9*/
  src: url(../fonts/Oswald/Oswald.eot?#iefix) format("embedded-opentype"), /* IE6-IE8 */
  url(../fonts/Oswald/Oswald.woff) format("woff"), /* chrome、firefox */
  url(../fonts/Oswald/Oswald.ttf) format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url(../fonts/Oswald/Oswald.svg#Source Sans Pro) format("svg"); /* iOS 4.1- */
}

@font-face {font-family: "Source Sans Pro Light";
  src: url(../fonts/SourceSansPro-ExtraLight.ttf) format("truetype");
}

@font-face {font-family: "Oswald Light";
  src: url(../fonts/Oswald-Light.ttf) format("truetype");
}


body {
  background-color: #464547!important;
}

.wrapper { min-height: 100vh; box-sizing: border-box; padding-bottom: 80px; position: relative; }

ul {
  margin-bottom: 0px!important;
}

.header {
  color: #fff!important;
}

.header-container {
  background-color: #666;
  border-bottom: 10px solid #ecc134;
}

.container-fluid { max-width: 1300px; }

.header .container { height: 100px; }

.inline { display: inline-block; }

.logo {height: 100px;}

.logo img { vertical-align: middle; }

.logo::before {
  content: "";
  vertical-align: middle;
  display: inline-block;
  height: 100px;
}
.title {
  margin-left: 20px;
  text-transform: uppercase;
  vertical-align: middle;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 28px;
  font-weight: 300;
}

.nav-item {
  font-family: "Oswald", sans-serif;
  line-height: 100px;
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
  margin-left: 15px;
}

.nav-item:hover { text-decoration: underline; }
.main { margin-top: 30px; padding: 0 15px 0 845px; position: relative; }
.game { position: absolute; left: 15px;}

.editor-block {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  height: 600px;
  background-color: #323132;
  border: 1px solid #5c5b5d;
}

.board {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  color: #fff;
}

.board-title {
  box-sizing: border-box;
  font-family: "Source Sans Pro Light", sans-serif;
  margin-top: 0;
  margin-bottom: 10px;
  padding-bottom: 20px;
  color: #fff;
  font-size: 50px;
  border-bottom: 1px solid #5c5b5d;
}

.board-title+div table tr td:first-child { padding-right: 30px; }
.board-title+div table tr td { height: 72px; vertical-align: middle; font-size: 24px;}

.leaderboard-table {
  font-family: "Oswald Light", sans-serif;
  font-size: 28px;
  box-sizing: border-box;
  padding: 10px 0;
  line-height: 52px;
  color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #fff;
}

.star {
  font-family: "Source Sans Pro Light", sans-serif;
  font-size: 24px;
  line-height: 55px;
  display: block;
  background: url('../img/sprite.png') no-repeat -190px -18px;
	width: 54px;
	height: 52px;
  text-align: center;
}

.first {
  background-position: -20px -18px;
}

.second {
  background-position: -105px -18px;
}

input,textarea {
  outline:none;
}

.editor {
  position: absolute;
  height: 525px;
  top: 70px;
  box-sizing: border-box;
  padding: 30px 0px 60px 30px;
  width: 100%;
  background-color: #323132;
  border: none;
}

.top-panel {
  position: absolute;
  top: 0;
  width: 100%;
  height: 60px;
  left: 0;
  border-bottom: 1px solid #5c5b5d;
}

.button {
  width: 123px;
  height: 40px;
  margin-top: 10px;
  line-height: 40px;
  border-radius: 0;
  margin-left: 10px;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  padding: 0;
}

.release, .commit { float: right; }
.release { margin-right: 10px; background-color: #a3c644; }
.commit { background-color: #ecc134; }
.reset { background-color: #eb6a5a; }
.release[disabled], .commit[disabled], .reset[disabled], .release[disabled]:hover, .commit[disabled]:hover, .reset[disabled]:hover { background-color: #999; }

.reset:hover { background-color: #dd6455; }
.commit:hover { background-color: #deb531; }
.release:hover { background-color: ##99ba40; }

.console {
  width: 100%;
  height: 177px;
  box-sizing: border-box;
  padding: 30px;
  background-color: #323132;
  color: #fff;
  border: 1px solid #5c5b5d;
  margin: 23px 0;
  overflow: auto;
}

.trainings {
  margin-top: 15px;
  margin-bottom: 30px;
  background-color: #323132;
  overflow: hidden;
}

.training {
  position: relative;
  height: 40px;
  line-height: 40px;
  color: #fff;
  text-align: center;
  border-left: 3px solid #464547;
  border-right: 3px solid #464547;
  background-color: #323132;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 18px;
}

.training::after {
  display: block;
  content: "";
  right: -19px;
  top: 0;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 0 20px 20px;
  border-color: transparent transparent transparent #464547;
  z-index: 3;
}

.active::after {border-left-color: #a3c644;}
.not-active::after { border-left-color: #999; }

.training::before {
  display: block;
  content: "";
  right: -25px;
  top: 0;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 0 20px 20px;
  border-color: transparent transparent transparent #464547;
  z-index: 2;

}

.active {
  background-color: #a3c644;
}
.not-active { background-color: #999; }

.train { padding: 0 15px; }

.footer { height: 50px; background-color: #323132; margin-top: 30px; position: absolute; bottom: 0; left: 0; right: 0;}
.footer-item a { color: #fff; opacity: .5; font-size: 18px; font-family: "Source Sans Pro Light", sans-serif;  }
.footer-item { margin-right: 15px; padding-right: 15px; border-right: 1px solid #5c5b5d;  }
.footer-item:last-child { border: none; }

.footer-nav { height: 50px; display: table;}

.footer-list { display: table-cell; vertical-align: middle; }


@media screen and (max-width: 1300px) {
  .button {
    width: auto;
    padding: 0 15px;
  }
  .leader-item { font-size: 24px; }
}

@media screen and (max-width: 1200px) {
/*
  .game { position: relative; width: 100%; padding: 0 15px 0 845px; position: relative;}
  .game img { position: absolute; left: 0; top: 0;}
  .main { padding-left: 15px; }
  .console { display: inline-block; width: 100%; height: 800px; margin-top: 0;}
  .editor-block { height: 310px; }
  .editor { height: 250px; }
*/
  .button { font-size: 12px; }
  .board {
    width: 90%;
    left: 15px;
    position: absolute;
    top: 830px;
    right: 15px;
  }
}

.player-canvas {
    float: none;
}

@media screen and (max-width: 990px) {
  .training { width: 100%;  border-bottom: 3px solid #464547; }
  .training::before { display: none; }
  .training::after { display: none; }
}

