.logoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 16px;
    width: 250px;
}

.active {
    border-bottom: 1px solid lightblue;
}

.serverInfo {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.serverName {
    margin: 5px;
}

.container {
    display: flex;
    justify-content: space-between;
    background: #192433;
    min-height: 60px;
}

.container a {
    color: white;
    text-decoration: none;
}

.container ul {
    display: flex;
}

.container li {
    width: 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media all and (max-width: 600px) {
    .container li {
        width: 100%;
    }
    .logoContainer {
        width: 100%;
    }
    .container ul {
        flex-direction: column;
    }
    .container {
        flex-direction: column;
    }
}
