.logoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 16px;
    width: 320px;
}

.logo {
    height: 50px;
    margin-right: 30px;
}

.active {
    border-bottom: 1px solid lightblue;
}

.serverInfo {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.serverName {
    margin: 5px;
}

.container {
    display: flex;
    justify-content: space-between;
    background: rgb(21, 30, 42);
}

.container a {
    position: relative;
    color: white;
    text-decoration: none;
    padding: 39px 10px;
}

.container a.activeMenu:after {
    content: '';
    position: absolute;
    display: block;
    box-sizing: border-box;
    height: 5px;
    width: 100%;
    bottom: 0;
    left: 0;
    background: #41c7dc;
}

.container ul {
    display: flex;
}

.container li {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media all and (max-width: 600px) {
    .container li {
        width: 100%;
        height: 40px;
    }
    .active {
        background-color: rgb(65, 199, 220);
        color: white;
        border: none;
    }
    .logoContainer {
        width: 100%;
        height: 60px;
    }
    .container ul {
        flex-direction: column;
    }
    .container {
        flex-direction: column;
    }
}
