.boardContainer {
    flex-direction: column;
    padding-bottom: 15px;
    width: 100%;
    font-family: 'Museo Sans Cyrl';
}

.wrapper {
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
}

.frame {
    display: flex;
    padding: 0px 30px 10px 30px;
    width: 30%;
    flex: 1 1 auto;
}

.rating {
    padding: 0px 30px 10px 30px;
    flex: 2 1 auto;
    width: 70%;
}

@media all and (max-width: 900px) {
    .frame {
        padding: 30px 30px 30px 30px;
        align-items: center;
        justify-content: center;
        max-width: none;
        order: 1;
        width: auto;
    }
    .rating {
        order: 2;
        width: auto;
    }
    .wrapper {
        flex-direction: column;
    }
}
