.boardContainer {
    flex-direction: column;
    width: 100%;
}

.wrapper {
    display: flex;
    flex: 1;
    font-weight: bold;
}

.frame {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    flex: 1;
}

.rating {
    padding: 50px;
    flex: 1;
}

@media all and (max-width: 900px) {
    .wrapper {
        flex-direction: column;
    }
}
