.boardContainer {
    flex-direction: column;
    width: 100%;
}

.wrapper {
    display: flex;
    flex: 1;
    font-weight: bold;
}

.frame {
    display: flex;
    padding: 0px 30px 10px 30px;
}

.rating {
    padding: 0px 30px 10px 30px;
    flex: 1;
}

@media all and (max-width: 900px) {
    .frame {
        padding: 30px 5px 30px 5px;
        align-items: center;
        justify-content: center;
        order: 1;
    }
    .rating {
        order: 2;
    }
    .wrapper {
        flex-direction: column;
    }
}
