.footer {
    display: flex;
    justify-content: space-between;
    background: #192433;
    padding: 0 24px;
}

.navigation {
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navigationModify {
    justify-content: flex-end;
}

.navigationIcon {
    margin-left: 18px;
    font-size: 28px;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 40px 8px;
  color: white;
  font-family: 'Museo Sans Cyrl';
  font-weight: 300;
  font-size: 16px;
  color: #a1b0bb;
  display: flex;
  align-items: center;
}

.navigation .action {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
  cursor: pointer;
}

.navigation a:hover {
  background: darken(deepskyblue, 2%);
}

.copyButton {
  background: rgb(68, 101, 148);
  color: white;
  border-radius: 4px;
  border-color: rgb(57, 84, 120);
}

@media all and (max-width: 600px) {
    .footer ul {
        flex-direction: column;
    }
    .footer {
        flex-direction: column;
    }
    .navigation a {
        padding: 10px 8px;
    }

}
