server:
    servlet.context-path: /codenjoy-contest
    ip: 127.0.0.1

rest-sender:
    pool-size: 100

mvc:
    cache-period: 259200
    screen-servlet-path: /screen-ws/*
    control-servlet-path: /ws/*


game:
    save.auto: true
    ai: true
board.save.ticks: 1
log.debug: false
page:
    main: ''
    registration: ''
    help.language: ''
email:
    verification: false
    password: ''
    name: info@codenjoy.com
    hash: secureSoul
donate.code:
database:
    url: ''
    name: ''
    user: ''
    password: ''
admin.password: admin

logging:
    level:
        root: info
